{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-4">
  {% if object %}
  <h1>Edit Coffee</h1>
  {% else %}
  <h1>Add Coffee</h1>
  {% endif %}

  <form action="" method="POST" class="mt-4">
    {% csrf_token %}

    <div class="form-group">
      {% for field in form %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field|add_class:"form-control" }}
      {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}