{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-3">Delete Review</h1>
    <h4 class="mb-4">Are you sure you want to delete the review for <span class="teal-text">{{ object.coffee.brand }}</span>?</h4>

    <form action="" method="POST" class="d-inline-block">
      {% csrf_token %}
      <input type="submit" value="Confirm Deletion" class="btn btn-danger mr-3">
    </form>
    <a href="{% url 'detail' object.coffee.id %}" class="btn btn-secondary">Cancel</a>
  </div>
{% endblock %}