{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
  {% if object %}
    <h1>Edit Review</h1>
  {% else %}
    <h1>Add Review</h1>
  {% endif %}

  <form action="" method="POST" class="mt-4">
    {% csrf_token %}

    {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        
        {% if field.field.widget.input_type == 'select' %}
          {{ field.errors }}
          {{ field }}
        {% else %}
          {{ field }}
          {% if field.errors %}
            {% for error in field.errors %}
              <div class="alert alert-danger mt-2">{{ error }}</div>
            {% endfor %}
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}