{% extends 'base.html' %}
{% block content %}

<h1 class="text-center mb-4">TSI Coffee Connoisseurs</h1>

<div class="row">
    {% for coffee in featured_coffees %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ coffee.photo_set.first.url }}" class="card-img-top" alt="Featured Coffee Image">
                <div class="card-body">
                    <h5 class="card-title">{{ coffee.brand }}</h5>
                    <p class="card-text">{{ coffee.flavor_profile|truncatewords:20 }}</p>
                    <a href="{% url 'detail' coffee_id=coffee.id %}" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}