{% extends 'base.html' %}
{% block content %}

<h1>Coffee Details</h1>
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ coffee.brand }}</span>
      <p>Roast: {{ coffee.roast }}</p>
      <p>Flavor Profile: {{ coffee.flavor_profile }}</p>
      <p>Rating: {{coffee.rating}}</p>
      <P>Review: {{coffee.review}}</P>
      <p>Price: {{coffee.price}}</p>
    </div>

    <div class="card-action">
        <a href="{% url 'coffee_update' coffee.id %}">Edit</a>
        <a href="{% url 'coffee_delete' coffee.id %}">Delete</a>
      </div>
      <div class="col s6">
        <table class="striped">
          <thead>
            <tr><th>Rating</th><th>Review</th></tr>
          </thead>
          <tbody>
            {% for review in user.feeding_set.all %}
              <tr>
                <td>{{review.user_rating}}</td>
                <td>{{review.user_review}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
{% endblock %}