{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
  <h1 class="mb-4">Coffee List</h1>

  {% for coffee in coffees %}
  <a href="{% url 'detail' coffee.id %}" class="text-decoration-none text-dark">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ coffee.brand }}</h5>
        <p class="card-text"><strong>Roast:</strong> {{ coffee.roast }}</p>
        <p class="card-text"><strong>Flavor Profile:</strong> {{ coffee.flavor_profile }}</p>
        <p class="card-text"><strong>Rating:</strong> {{coffee.rating}}</p>
        <p class="card-text"><strong>Review:</strong> {{coffee.review}}</p>
        <p class="card-text"><strong>Price:</strong> ${{coffee.price}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}